flask
flask-compress
flask-cors
flask-sqlalchemy
flask-talisman
flask-limiter
sqlalchemy
psycopg2-binary
alembic
pandas
prophet
google-generativeai
joblib
scikit-learn
pyjwt
werkzeug
marshmallow
celery
redis
python-dotenv
python-json-logger
black
isort
